div.animate {
  width: 5%;
  position: absolute;
  border-radius: 50%;
  border: black solid;
  /* can be treated like a fallback */
  background-color: red;

  /* will be "on top", if browser supports it */
  background-image: linear-gradient(red, orange);

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: red;
  background: linear-gradient(red, orange);
  padding: 100px 100px;
  border-radius: 100%
}
div.animate0 {
	color: blue;
}
div.animate1 {
	color: grey;
}
div.animate2 {
	color: white;
}
div.animate3 {
	color: black;
}
div.animate4 {
	color: green;
}